@*
    Display Quadrant table of all of the entered data
*@
@{
    ViewData["Title"] = "Quadrant Page";
}

@model List<FormResponse>

<div class="row">

    <div class="column">
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr><th colspan="6" class="text-center">Quadrant 1</th></tr>
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Completed</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
            {
                    @if (i.QuadrantID == 1)
                {
                <tr>
                    <td>@i.TaskName</td>
                    <td>@i.DueDate</td>
                    <td>@i.Category</td>
                    <td>@i.Completed</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@i.TaskID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@i.TaskID">Delete</a></td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr><th colspan="6" class="text-center">Quadrant 2</th></tr>
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Completed</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    @if (i.QuadrantID == 2)
                    {
                    <tr>
                        <td>@i.TaskName</td>
                        <td>@i.DueDate</td>
                        <td>@i.Category</td>
                        <td>@i.Completed</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@i.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@i.TaskID">Delete</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

<br/>

<div class="row">

    <div class="column">
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr><th colspan="6" class="text-center">Quadrant 3</th></tr>
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Completed</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    @if (i.QuadrantID == 3)
                    {
                    <tr>
                        <td>@i.TaskName</td>
                        <td>@i.DueDate</td>
                        <td>@i.Category</td>
                        <td>@i.Completed</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@i.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@i.TaskID">Delete</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr><th colspan="6" class="text-center">Quadrant 4</th></tr>
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Completed</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    @if (i.QuadrantID == 4)
                    {
                    <tr>
                        <td>@i.TaskName</td>
                        <td>@i.DueDate</td>
                        <td>@i.Category</td>
                        <td>@i.Completed</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-TaskID="@i.TaskID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-TaskID="@i.TaskID">Delete</a></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>


